* {
  padding: 0;
  margin: 0;
}

body {
  appearance: none;
}

.container {
  justify-content: stretch;
  align-items: stretch;
  background-color: antiquewhite;
  text-align: center;
  display: grid;
  grid-template-rows: 1fr 5fr;
  height: 100vh;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-row: 1 / 2;
  background-color: #ff8b00;
  position: relative;
}

header > h1 {
  font-size: 50px;
  font-family: "Rubik Vinyl", cursive;
  letter-spacing: 2px;
}

.main {
  grid-row: 2 / 3;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #866947;
}

footer {
  background-color: #866947;
  padding: 10px;
}

footer > p {
  font-family: "Rubik Gemstones", cursive;
}

#moviecards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
  grid-gap: 5rem;
  height: 100%;
  width: 100%;
  grid-auto-flow: column;
  grid-auto-rows: 1fr;
  grid-auto-columns: 1fr;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#newmovie {
  position: fixed;
  border-radius: 40px;
  font-size: 18px;
  text-align: center;
  right: 40px;
  width: fit-content;
  height: fit-content;
  background-color: white;
  color: black;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
}

#newmovie:hover {
  background-color: #04aa6d;
}

.card {
  --background: #ffffff;
  --text: black;
  box-shadow: 0 0 2rem -1rem;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 15px;
  border-radius: 5px;
  align-self: center;
  justify-self: center;
}

.card > h3,
p {
  font-family: "Bungee Inline", cursive;
}

/* The popup form - hidden by default */
.form-popup {
  border: 1px solid re;
  border-radius: 20px;
  display: none;
  position: fixed;
  width: fit-content;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  max-width: 300px;
  padding: 10px;
  border-radius: 20px;
  background-color: #ff7000;
}

/* Full-width input fields */
.form-container input[type="text"],
.form-container input[type="number"] {
  border-radius: 20px;
  width: fit-content;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type="text"]:focus,
.form-container input[type="numebr"]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #04aa6d;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 40%;
  margin-bottom: 10px;
  opacity: 0.8;
  border-radius: 20px;
}

.form-container .cancel {
  background-color: red;
}

.form-container .btn:hover,
.open-button:hover {
  opacity: 1;
}

.form-container label,
h1 {
  font-family: "Martian Mono", monospace;
}

.delbtn {
  background-color: red;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: fit-content;
  margin-bottom: 10px;
  opacity: 0.8;
  border-radius: 20px;
  align-self: center;
}

.readbtn {
  background-color: #04aa6d;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: fit-content;
  margin-bottom: 10px;
  opacity: 0.8;
  border-radius: 20px;
  align-self: center;
}
